#
# Compiled binaries.
#
bin/**

#
# Visual Studio files.
#
.vs/**
*.VC.db
*.VC.opendb

#
# VS Code files.
#
.vscode/**

#
# Compiled objects (Linux).
#
*.o
*.a
*.ko
*.cmd
*.mod.c
*.order
*.symvers
.tmp_versions/
.cache.mk
